.App {
  text-align: center;
}

@font-face {
  font-family: 'Sketch_Block';
  src: local('Sketch_Block'), url(./Sketch_Block.ttf) format('truetype');
} 

@media only screen and (min-width: 20px) {
  .collapse {
      display: block;
  }

  .navbar-header {
      float: left;
  }

  .navbar-toggle {
      display: none;
  }

  .navbar-nav.navbar-left {
     float: left;
     margin: 0;
  }

  .navbar-nav.navbar-right {
     float: right;
     margin: 0;
  }
  .navbar-nav>li {
      float: left;
  }
  .navbar-nav>li>a {
      padding-top: 15px;
      padding-bottom: 15px;
  }
}

@media(min-width:0px) {
  .navbar-form {
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
  }
  .navbar-form .form-group {
      margin-bottom: 0;
  }
}
  
.brand
{
  font-family: 'Sketch_Block'; 
  font-size: 18pt;
}

.activityHeader
{ 
  
  font-family: 'Sketch_Block'; 
  font-size: 36pt;
}


.App-header {
  background-color: #333;
  height: 100px;
  /* padding: 10px; */
  color: white;
}

.navbar{
 margin-bottom: 0;
 border-radius: 0;
}
.panel{
  border-radius: 0;
 }
 .panel-heading{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }
 

.App-title {
  font-size: x-large;
}

.App-intro {
  font-size: xx-large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.thumbnail {
  padding: 0;
  border: 0;
}

.roomButton {
  display:inline-block;
  width: 120px;
  border-radius: 5px; 
  margin: 10px;
}



.Hand {
  display:inline-block;
  cursor:pointer;
  width: 75px;
  text-align: center;
  line-height: 100px;
  margin: 10px;

}
.SelectedHand {
  display:inline-block;
  cursor:pointer;
  width: 75px;
  text-align: center;
  line-height: 100px;
  margin: 10px;
  background-color: rgb(165, 247, 165);
  border-radius: 5px; 

}


.Card {
  display:inline-block;
  color:white;
  border:5px solid black;
  background-color: grey;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  width: 60px;
  text-align: center;
  line-height: 90px;
  margin: 10px;
  font-size: x-large;
  border-radius: 5px;
}

.faceDownCard {
    display:inline-block;
    background: #36c;
    background:
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 0 0,
            linear-gradient(115deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
            linear-gradient(245deg, transparent 75%, rgba(255,255,255,.8) 75%) 7px -15px,
            #36c;
    background-size: 15px 30px;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);


}

.selectedCard {
    /* display:inline-block;
    color:white; */
    border:5px solid green;
    /* background-color:grey;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    width: 80px;
    text-align: center;
    line-height: 120px;
    margin: 10px;
    font-size: xx-large;
    border-radius: 5px; */
}


.Card:active {
  /*color:red;*/
  box-shadow: 0 0 20px -1px rgba(0,0,0,0.6);
}

.ImageLink {
  display:inline-block;
  color:black;
  border:5px solid black;
  background-color: white;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  width: 200px;
  text-align: center;
  line-height: 120px;
  margin: 10px;
  font-size: xx-large;
  border-radius: 5px;
}


.jumbotron {
  background-color: white !important;
}
  

.deco-none {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:link {
  color: inherit;
  text-decoration: inherit;
}

.deco-none:hover {
  color: inherit;
  text-decoration: inherit;
}